// font-family: 'Roboto', sans-serif;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Montserrat', sans-serif;



body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  p{
    font-size: .8em;
    color: rgb(136, 135, 135);
  }
  h4{
    font-family: 'Kaushan Script', cursive;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
}

nav {
  transition: all 0.5s;
  &.scrollUp{
    transform: translateY(-60px);
  }
  &.navBackground{
    background-color: rgba(39, 29, 29, 0.6) !important;
  }
  a{
    color: white !important;
  }
}


#header{
  height: 100vh;
  background: black url(/src/assets/header.png) top;
  background-size: cover;
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  margin-top: -55px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  #title{
    position: relative;
    top: 20%;
  }
  h1{
    font-size: 4em;
    font-weight: 900;
    color: white;
  }
  h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: white;

  }
  #learnMore{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
  }
  #learnMore:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#about{
  min-height: 460px;
}

#numbers{
  height: 160px;
  color: white !important;
  background-color: #86e3dc;

}

.servParagraphs{
  p{
    padding-left: 45px;
  }
  
}

#uniqeDesign{
  background-image: url('/src/assets/unique-design-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  #ipad{
    width: 25%;
    margin-left: -7%;
  }
  #iphone{
    width: 15%;
    position: absolute;
    left: 53%;
    margin-top: 9%;
  }
}

#whatWeDo{
  min-height: 680px;
  img{
    padding: none;
    object-fit: contain;
  }
  button{
    width: 100%;
    background-color: white;
  }
  #photo {
    display: block;
  }
  #creative, #web{
    display: none;
  }
}

#quotes{
  height: 250px;
  background-color: #f0f3ec;
}

#ourTeam{
  min-height: 680px;
}

#clients{
  min-height: 210px;
  background-color: #f0f3ec;
}

#ourWork{
  #gallery{
    img{
      max-height: 200px;
      width: 25vw;
      object-fit: contain;
    }
  }
}
#quotes2{
  min-height: 300px;
}


#happyClients{
  background-image: url('/src/assets/unique-design-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img{
    object-fit: contain;
  }
}

#blog{
  .row{
    .paragraph{
      border-bottom: 1px solid black;
    }
  }
}

#map{
  background-image: url('/src/assets/map-bg.jpg');
  height: 100px;
}
footer{
  background-color: #edf0ea;
  img{
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

hr{
  width: 5%;
  border: 2px solid white;
}


#spacer{
  height: 300px;
}

.center-content{
  width: 500px;
  margin: auto;
}

.text-full-width{
  width: 60vw;
  margin: auto;
}

.bx-wrapper{
  max-width: none !important;
}